@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  position: relative;
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh;
  background: linear-gradient(#1f3756, #141539);
  height: 100vh; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

.break {
  flex-basis: 100%;
  height: 0; }

.App {
  text-align: center;
  background-image: url(/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center 220px;
  height: 100%; }

.App-link {
  color: #61dafb; }

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
  padding: 0.5rem 0.8rem;
  border: 4px solid #606e85;
  border-radius: 8px; }
  .score .title-img {
    width: 100px; }
  .score-board {
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 8px; }
    .score-board h3 {
      color: #2a46c0; }
    .score-board p {
      color: #3b4363;
      font-size: 2.5rem;
      font-weight: 700; }

.icon-choice {
  position: relative;
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.img-icon {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 1000px;
  padding: 1.8rem;
  z-index: 10; }
  .img-icon-paper {
    border: solid 1.2rem #4865f4;
    transform: translate(-20px, -30px); }
  .img-icon-scissors {
    border: solid 1.2rem #ec9e0e;
    transform: translate(20px, -30px); }
  .img-icon-rock {
    border: solid 1.2rem red;
    margin-top: 1.5rem;
    transform: translate(0px, -30px); }
  .img-icon-placeHolder {
    width: 130px;
    height: 130px;
    border: solid 0.1rem #16263c;
    background-color: #16263c;
    transform: translate(20px, -30px); }
  .img-icon-radial-effect {
    box-shadow: 0px 0px 0px 20px #1f3756, 0px 0px 0px 45px rgba(31, 55, 86, 0.507), 0px 0px 0px 75px rgba(31, 55, 86, 0.219);
    z-index: 0; }

.pickedText {
  z-index: 20;
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
  width: max-content; }

.youPickedText {
  transform: translate(-70px, -10px); }

.housePickedText {
  transform: translate(90px, -30px); }

#pickedBtn {
  margin: 0rem;
  transform: translate(-20px, -30px); }

#houseBtn {
  margin: 0rem;
  transform: translate(20px, -30px); }

.play-again {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #3b4363;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 10px; }

.winner-text {
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px; }

.rules-btn {
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px white;
  border-radius: 10px;
  padding: 0.8rem 0;
  color: white;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer; }

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20; }
  .modal-hidden {
    display: none; }
  .modal-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%; }
    .modal-content h1 {
      padding: 4rem 0rem;
      color: "Barlow Semi Condensed", sans-serif; }
  .modal-img {
    margin-top: 3rem; }
  .modal-close {
    font-size: 2.5rem;
    font-weight: 700;
    color: "Barlow Semi Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer; }

@media only screen and (min-width: 450px) {
  .score {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
  .rules-btn {
    margin-right: 5%; }
  .img-icon-placeHolder {
    transform: translate(40px, -30px); }
  .youPickedText {
    transform: translate(-90px, -10px); }
  .housePickedText {
    transform: translate(115px, -30px); }
  #pickedBtn {
    margin: 0rem;
    transform: translate(-40px, -30px); }
  #houseBtn {
    margin: 0rem;
    transform: translate(40px, -30px); } }

@media only screen and (min-width: 600px) {
  .App {
    background-position: center 290px; }
  .icon-choice {
    margin-top: 5rem; }
  .img-icon {
    width: 180px;
    height: 180px; }
    .img-icon-placeHolder {
      transform: translate(95px, -30px); }
  .img {
    width: 70%; }
  .score {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
  .rules-btn {
    margin-right: 5%; }
  #pickedBtn {
    margin: 0rem;
    transform: translate(-95px, -30px); }
  #houseBtn {
    margin: 0rem;
    transform: translate(95px, -30px); }
  .youPickedText {
    transform: translate(-155px, -10px); }
  .housePickedText {
    transform: translate(185px, -30px); } }

@media only screen and (min-width: 900px) {
  .App {
    background-position: center 290px; }
  .icon-choice {
    margin-top: 10rem; }
  .img-icon {
    width: 180px;
    height: 180px; }
    .img-icon-placeHolder {
      margin: 5rem 0rem 0rem 0rem;
      transform: translate(200px, -30px); }
  #pickedBtn {
    margin: 5rem 0rem 0rem 0rem;
    transform: translate(-220px, -30px); }
  #houseBtn {
    margin: 5rem 0rem 0rem 0rem;
    transform: translate(200px, -30px); }
  .youPickedText {
    transform: translate(-280px, -275px); }
  .housePickedText {
    transform: translate(285px, -290px); }
  .winner-text {
    bottom: 280px; }
  .play-again {
    bottom: 210px;
    max-width: 280px; }
  .modal-content {
    width: 30%; } }
