@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");

//
$Scissors-Gradient-from: hsl(39, 89%, 49%);
$Scissors-Gradient-to: hsl(40, 84%, 53%);
$Paper-Gradient-from: hsl(230, 89%, 62%);
$Paper-Gradient-to: hsl(230, 89%, 65%);
$Lizard-Gradient-from: hsl(261, 73%, 60%);
$Lizard-Gradient-to: hsl(261, 72%, 63%);
$Cyan-Gradient-from: hsl(189, 59%, 53%);
$Cyan-Gradient-to: hsl(189, 58%, 57%);

// Neutral Colors
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text-Color: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);

// Background Colors
$Radial-Gradient-from: hsl(214, 47%, 23%);
$Radial-Gradient-to: hsl(237, 49%, 15%);

// Fonts
$Main-Font: "Barlow Semi Condensed", sans-serif;

//===========================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  font-family: $Main-Font;
  height: 100vh;
  background: linear-gradient($Radial-Gradient-from, $Radial-Gradient-to);
  height: 100vh;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.break {
  flex-basis: 100%;
  height: 0;
}

// ============================

.App {
  text-align: center;
  background-image: url(RPS/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center 220px;
  height: 100%;
  display: block;
}

.App-link {
  color: #61dafb;
}

// Score Board
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
  padding: 0.5rem 0.8rem;
  border: 4px solid $Header-Outline;
  border-radius: 8px;

  .title-img {
    width: 100px;
  }

  &-board {
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;

    h3 {
      color: $Score-Text-Color;
    }

    p {
      color: $Dark-Text;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}

// Icon Choice
.icon-choice {
  position: relative;
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// General styles for icons
.img-icon {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 1000px;
  padding: 1.8rem;
  z-index: 10;

  //Individual styles for icons
  &-paper {
    border: solid 1.2rem $Paper-Gradient-from;
    transform: translate(-20px, -30px);
  }

  &-scissors {
    border: solid 1.2rem $Scissors-Gradient-from;
    transform: translate(20px, -30px);
  }
  &-rock {
    border: solid 1.2rem red;
    margin-top: 1.5rem;
    transform: translate(0px, -30px);
  }

  &-placeHolder {
    width: 130px;
    height: 130px;
    border: solid 0.1rem hsl(214, 47%, 16%);
    background-color: hsl(214, 47%, 16%);
    transform: translate(20px, -30px);
  }

  &-radial-effect {
    box-shadow: 0px 0px 0px 20px hsl(214, 47%, 23%), 0px 0px 0px 45px hsla(214, 47%, 23%, 0.507), 0px 0px 0px 75px hsla(214, 47%, 23%, 0.219);
    z-index: 0;
  }
}

.pickedText {
  z-index: 20;
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
  width: max-content;
}

.youPickedText {
  transform: translate(-70px, -10px);
}

.housePickedText {
  transform: translate(90px, -30px);
}

#pickedBtn {
  margin: 0rem;
  transform: translate(-20px, -30px);
}
#houseBtn {
  margin: 0rem;
  transform: translate(20px, -30px);
}

// Play again button
.play-again {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $Dark-Text;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 10px;
}
// Winner text
.winner-text {
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

// Rules
.rules-btn {
  position: absolute;
  width: 150px;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0.8rem 0;
  color: white;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
}

// modal
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  &-hidden {
    display: none;
  }

  &-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;

    h1 {
      padding: 4rem 0rem;
      color: $Main-Font;
    }
  }

  &-img {
    margin-top: 3rem;
  }

  &-close {
    font-size: 2.5rem;
    font-weight: 700;
    color: $Main-Font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
}

// Media Queries for Desktop
@media only screen and (min-width: 450px) {
  // Score
  .score {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .rules-btn {
    margin-right: 5%;
  }

  .img-icon-placeHolder {
    transform: translate(40px, -30px);
  }

  .youPickedText {
    transform: translate(-90px, -10px);
  }

  .housePickedText {
    transform: translate(115px, -30px);
  }

  #pickedBtn {
    margin: 0rem;
    transform: translate(-40px, -30px);
  }

  #houseBtn {
    margin: 0rem;
    transform: translate(40px, -30px);
  }
}

@media only screen and (min-width: 600px) {
  .App {
    background-position: center 230px;
  }

  .icon-choice {
    margin-top: 5rem;
  }

  .img-icon {
    width: 180px;
    height: 180px;

    &-placeHolder {
      transform: translate(95px, -30px);
    }
  }

  .img {
    width: 70%;
  }

  // Score
  .score {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .rules-btn {
    margin-right: 5%;
  }

  #pickedBtn {
    margin: 0rem;
    transform: translate(-95px, -30px);
  }

  #houseBtn {
    margin: 0rem;
    transform: translate(95px, -30px);
  }

  .youPickedText {
    transform: translate(-155px, -10px);
  }

  .housePickedText {
    transform: translate(185px, -30px);
  }
}

@media only screen and (min-width: 900px) {
  .App {
    background-position: center 300px;
    // background-size: 350px;
  }

  .icon-choice {
    margin-top: 10rem;
  }

  .img-icon {
    width: 180px;
    height: 180px;

    &-placeHolder {
      margin: 5rem 0rem 0rem 0rem;
      transform: translate(200px, -30px);
    }
  }

  #pickedBtn {
    margin: 5rem 0rem 0rem 0rem;
    transform: translate(-220px, -30px);
  }

  #houseBtn {
    margin: 5rem 0rem 0rem 0rem;
    transform: translate(200px, -30px);
  }

  .youPickedText {
    transform: translate(-280px, -275px);
  }

  .housePickedText {
    transform: translate(285px, -290px);
  }

  .winner-text {
    bottom: 280px;
  }

  .play-again {
    bottom: 210px;
    max-width: 280px;
  }

  // modal
  .modal {
    &-content {
      width: 40%;
    }
  }
}
